.hour {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 7px 0;
  padding: 3px 4px;
  font-size: 1rem;
  font-weight: 500;
  background-color: aliceblue;
  color: #42146c;
  border-radius: 5px;
}

.hour-data {
  display: flex;
  flex-basis: 70%;
  align-items: self-start;
}

.temp {
  display: flex;
  width: 30%;
  justify-content: space-between;
}

.temp div {
  width: 30.33%;
  text-align: right;
}
